:root {
  background: #ccc;
  color: #000;
  font: normal normal 16px/1.5 serif, 'Noto Color Emoji';
  margin: 0;
  padding: 4em;
}

a {
  color: #00f;
  text-decoration: none;
}

a[aria-current] {
  color: #f00;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

:where(button, input, select, textarea) {
  appearance: none;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  display: inline-block;
  font: inherit;
  margin: 0;
  padding: 0.25em 0.5em;
  width: 12em;
}

:where(button) {
  width: auto;
}

:where(button, select) {
  background-color: #ddd;
  cursor: pointer;
}

:where(button, select):where(:focus, :hover) {
  background-color: #eee;
}

:where(button, select):active {
  background-color: #ccc;
}

:where(select),
:where(select):where(:active, :focus, :hover) {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpolyline%20fill%3D%22none%22%20points%3D%224%2C7%2010%2C13%2016%2C7%22%20stroke%3D%22%23000%22%20stroke-linecap%3D%22butt%22%20stroke-linejoin%3D%22miter%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E');
  background-position: right 0.5em center;
  background-repeat: no-repeat;
  background-size: 1em;
}

h1 {
  margin: 0;
}

h1 + ul {
  display: block;
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
}

h1 + ul > li {
  display: flex;
  gap: 0.5em;
  list-style: none;
  margin: 0;
  padding: 0.25em 0.75em;
}

h1 + ul > li > a:first-child {
  margin-right: auto;
}

h1 + ul > li:hover {
  background: rgb(0 0 255 / 0.05);
}

h1 + ul > li:focus-within {
  background: rgb(0 0 255 / 0.10);
}

h1 + ul > li:focus-within:hover {
  background: rgb(0 0 255 / 0.15);
}

textarea {
  resize: vertical;
  width: 100%;
}

[aria-current] {
  color: inherit;
  cursor: default;
}

[aria-disabled] {
  color: inherit;
  cursor: not-allowed;
  filter: grayscale(50%);
}

[role='alert'] {
  color: #f00;
}

[role='alert']:first-child {
  margin-top: 0;
}

[role='application'] {
  background: #fff;
  border: 1px solid #000;
  display: block;
  margin: 0 auto;
  padding: 2em;
  text-align: left;
}

[role='application']:has(> form > p > [name='pass']) {
  display: inline-block;
  margin: 0 auto;
}

[role='status'] {
  color: #888;
}