*,
::after,
::before {
  background: 0 0;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

:root {
  background: #ccc;
  color: #000;
  font: 400 normal 16px/1.5 serif, 'Noto Color Emoji';
  margin: 0;
  padding: 2rem;
}

::placeholder {
  color: #666;
}

:where(address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  ol,
  p,
  pre,
  search,
  section,
  table,
  ul) + :where(address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  ol,
  p,
  pre,
  search,
  section,
  table,
  ul) {
  margin-top: 1rem;
}

li:where(:not(:first-child)) > :where(address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  p,
  pre,
  search,
  section,
  table):where(:first-child) {
  margin-top: 1rem;
}

a {
  color: #00f;
  text-decoration: none;
}

a[aria-current] {
  color: #f00;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt,
b,
kbd,
legend,
strong,
th {
  font-weight: bold;
}

dfn,
em,
i,
var {
  font-style: italic;
}

del,
s {
  text-decoration: line-through;
}

small,
sub,
sup {
  font-size: 0.8em;
}

ins,
u {
  text-decoration: underline;
}

abbr {
  cursor: help;
}

code {
  display: inline-block;
  font-family: monospace;
  font-size: 0.8em;
}

details:open > summary {
  margin-bottom: 1rem;
}

dl {
  margin-left: 1rem;
  margin-right: 1rem;
}

fieldset {
  border: 1px solid #000;
  padding: 1rem;
}

/* <https://www.modularscale.com/?16&px&1.25> */
h1,
h2,
h3,
h4,
h5,
h6,
dt {
  line-height: 1.25;
}

h1 {
  font-size: 3.815em;
}

h2 {
  font-size: 3.052em;
}

h3 {
  font-size: 2.441em;
}

h4 {
  font-size: 1.953em;
}

h5 {
  font-size: 1.563em;
}

h6,
dt {
  font-size: 1.25em;
}

ol,
ul {
  margin-left: 2rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-left: 1rem;
}

pre code {
  background: #eee;
  display: block;
  overflow: auto;
  padding: 0.5rem 0.75rem;
  white-space: pre-wrap;
}

:where(button, input, select, textarea) {
  appearance: none;
  background: #ffc;
  border: 1px solid #000;
  color: #000;
  display: inline-block;
  font: inherit;
  margin: 0;
  padding: 0.25rem 0.5rem;
  width: 10rem;
}

:where(button) {
  width: auto;
}

:where(button, select) {
  background-color: #ddd;
  cursor: pointer;
}

:where(button, select):where(:focus, :hover) {
  background-color: #eee;
}

:where(button, select):active {
  background-color: #ccc;
}

:where(select),
:where(select):where(:active, :focus, :hover) {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpolyline%20fill%3D%22none%22%20points%3D%224%2C7%2010%2C13%2016%2C7%22%20stroke%3D%22%23000%22%20stroke-linecap%3D%22butt%22%20stroke-linejoin%3D%22miter%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E');
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
}

:where(textarea) {
  font-family: monospace;
  resize: vertical;
  width: 100%;
}

h3 + ul {
  display: block;
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

h3 + ul > li {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0.25rem 0.75rem;
}

h3 + ul > li > a:first-child {
  margin-right: auto;
}

h3 + ul > li:hover {
  background: rgb(0 0 255 / 0.05);
}

h3 + ul > li:focus-within {
  background: rgb(0 0 255 / 0.10);
}

h3 + ul > li:focus-within:hover {
  background: rgb(0 0 255 / 0.15);
}

[aria-current] {
  color: inherit;
  cursor: default;
}

[aria-disabled] {
  color: inherit;
  cursor: not-allowed;
  filter: grayscale(50%);
}

[role='alert'] {
  background: rgb(0 0 0 / 0.15);
  padding: 0.5rem 1rem;
}

[aria-busy] {
  cursor: wait;
}

[aria-busy] [role='application'] > :not([role='alert']) {
  opacity: 0.5;
  pointer-events: none;
}

[aria-label='Pagination'] {
  display: inline-flex;
  gap: 0.5rem;
  padding: 0 0.25rem;
}

[aria-label='Pagination'] [rel='next']:last-child {
  margin-left: 0.5rem;
}

[aria-label='Pagination'] [rel='prev']:first-child {
  margin-right: 0.5rem;
}

/* Alert error */
[aria-live='assertive'][role='alert'] {
  background: rgb(255 0 0 / 0.15);
  color: #f00;
}

/* Alert info */
[aria-live='off'][role='alert'] {
  background: rgb(0 0 255 / 0.15);
  color: #00f;
}

/* Alert success */
[aria-live='polite'][role='alert'] {
  background: rgb(0 136 0 / 0.15);
  color: #080;
}

[role='application'] {
  background: #fff;
  border: 1px solid #000;
  display: block;
  margin: 0 auto;
  max-width: 65rem;
  padding: 1rem;
  text-align: left;
}

[role='application']:empty {
  display: none;
}

[role='application']:has(> form > p > [name='pass']) {
  margin: 0 auto;
  max-width: 14em;
}

[role='group'] {
  display: flex;
  gap: 0.5em;
}

[role='status'] {
  color: #888;
}


/* Overrides */
code.cm-s {
  background: #fafafa;
}

form .CodeMirror {
  border: 1px solid #000;
  box-sizing: content-box;
  font-size: 80%;
  height: auto;
  line-height: 1.1;
  max-height: 40em;
  min-height: 1em;
}

form .CodeMirror-code {
  cursor: text;
}

form .CodeMirror-scroll {
  max-height: 36em;
  min-height: 1em;
}

form .CodeMirror-simplescroll-horizontal,
form .CodeMirror-simplescroll-vertical {
  cursor: default;
}

form .CodeMirror * + div {
  margin-top: 0;
}