@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

*,
::after,
::before {
  background: 0 0;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

:focus {
  outline: 2px solid #000;
}

:where(audio, button, dialog, input, main > h3 + div > img, select, textarea, video):focus {
  outline-offset: -2px;
}

:root {
  background: #ccc;
  color: #000;
  font: 400 normal 16px/1.5 'Times New Roman', serif, 'Noto Color Emoji';
  margin: 0;
  padding: 2rem;
}

:where(address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  ol,
  p,
  pre,
  search,
  section,
  table,
  ul) + :where(address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  ol,
  p,
  pre,
  search,
  section,
  table,
  ul) {
  margin-top: 1rem;
}

li:where(:not(:first-child)) > :where(address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  p,
  pre,
  search,
  section,
  table):where(:first-child) {
  margin-top: 1rem;
}

a {
  color: #00f;
  text-decoration: none;
}

audio,
iframe,
video {
  display: block;
  height: auto;
  width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

dialog {
  background: #fff;
  border: 1px solid #000;
  box-shadow: 0 1px 0.25rem rgb(0 0 0 / 0.5);
  inset: 0;
  margin: auto;
  padding: 1rem;
  text-align: left;
}

dialog::backdrop {
  background: rgb(0 0 0 / 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6,
dt,
b,
kbd,
legend,
strong,
th {
  font-weight: bold;
}

dfn,
em,
i,
var {
  font-style: italic;
}

del,
s {
  text-decoration: line-through;
}

small,
sub,
sup {
  font-size: 0.8em;
}

ins,
u {
  text-decoration: underline;
}

abbr {
  cursor: help;
}

code {
  display: inline-block;
  font-family: 'Courier New', monospace;
  font-size: 0.8em;
}

details:open > summary {
  margin-bottom: 1rem;
}

dl {
  margin-left: 1rem;
  margin-right: 1rem;
}

fieldset {
  border: 1px solid #000;
  padding: 1rem;
}

/* <https://www.modularscale.com/?16&px&1.25> */
h1,
h2,
h3,
h4,
h5,
h6,
dt {
  line-height: 1.25;
}

h1 {
  font-size: 3.815em;
}

h2 {
  font-size: 3.052em;
}

h3 {
  font-size: 2.441em;
}

h4 {
  font-size: 1.953em;
}

h5 {
  font-size: 1.563em;
}

h6,
dt {
  font-size: 1.25em;
}

label {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  gap: 0.5em;
  user-select: none;
}

ol,
ul {
  margin-left: 2rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-left: 1rem;
}

pre code {
  background: #eee;
  display: block;
  overflow: auto;
  padding: 0.5rem 0.75rem;
  white-space: pre-wrap;
}

:where(aside, main):empty {
  background: rgb(0 0 0 / 0.025);
  min-height: 12em;
}

:where(aside, main) > ul {
  display: block;
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

:where(aside, main) > ul > li {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0.25rem 0.75rem;
  white-space: nowrap;
}

:where(aside, main) > ul > li > a:first-child {
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

:where(aside, main) > ul > li:not([aria-disabled]):hover {
  background: rgb(0 0 255 / 0.05);
}

:where(aside, main) > ul > li:not([aria-disabled]):focus-within {
  background: rgb(0 0 255 / 0.10);
}

:where(aside, main) > ul > li:not([aria-disabled]):focus-within:hover {
  background: rgb(0 0 255 / 0.15);
}

:where(aside, main) > ul > li:not([aria-disabled])[aria-selected] {
  background: rgb(255 255 0 / 0.125);
}

:where(main) > h3 + div > :where(audio, iframe, img, video) {
  border: 1px solid #000;
  display: block;
  margin: 0 auto;
}

:where(main) > h3 + div > img {
  background-image: repeating-conic-gradient(#aaa 0% 25%, #ccc 25% 50%);
  background-position: 50% 50%;
  background-size: 2em 2em;
  display: block;
  margin: 0 auto;
}

:where(button, input, select, textarea) {
  appearance: none;
  background: #ffc none no-repeat 50% 50%;
  border: 1px solid #000;
  color: #000;
  display: inline-block;
  font: inherit;
  margin: 0;
  padding: 0.25rem 0.5rem;
  width: 12rem;
}

:where(button) {
  width: auto;
}

:where(button, select) {
  background-color: #ddd;
  cursor: pointer;
}

:where(button, select):where(:focus, :hover) {
  background-color: #eee;
}

:where(button, select):active {
  background-color: #ccc;
}

:where(select),
:where(select):where(:active, :focus, :hover) {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjAgMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTQgN0wxMCAxM0wxNiA3IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4=');
  background-position: right 0.5rem center;
  background-size: 1rem;
}

:where(input, textarea):user-invalid {
  border-color: #f00;
  color: #f00;
}

:where(input):where([type='checkbox'], [type='radio']) {
  cursor: pointer;
  height: 1em;
  overflow: hidden;
  padding: 0;
  width: 1em;
}

:where(input)[type='radio'] {
  border-radius: 100%;
}

:where(input)[type='checkbox']:checked {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSA0LjVMNCA3LjVMMTEgMSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2Utd2lkdGg9IjEuNSIvPjwvc3ZnPg==');
  background-size: calc(100% - 2px) calc(100% - 2px);
}

:where(input)[type='radio']:checked {
  background-image: radial-gradient(circle, #000 0 40%, transparent 41% 100%);
}

:where(textarea) {
  font-family: 'Courier New', monospace;
  font-size: 0.8em;
  line-height: 1.1;
  resize: vertical;
  width: 100%;
}

[aria-current] {
  color: inherit;
  cursor: default;
}

[aria-disabled] {
  color: inherit;
  cursor: not-allowed;
  filter: grayscale(1);
  outline: none;
  user-select: none;
}

[role='alert'] {
  background: rgb(0 0 0 / 0.15);
  padding: 0.5rem 1rem;
}

[aria-busy] {
  cursor: wait;
  opacity: 0.5;
}

[aria-busy] > * {
  pointer-events: none;
}

[aria-label='Pagination'] {
  display: flex;
  gap: 0.5rem;
  padding: 0 0.25rem;
}

[aria-label='Pagination'] [rel='next']:last-child {
  margin-left: 0.5rem;
}

[aria-label='Pagination'] [rel='prev']:first-child {
  margin-right: 0.5rem;
}

/* Alert error */
[aria-live='assertive'][role='alert'] {
  background: rgb(255 0 0 / 0.15);
  color: #f00;
}

/* Alert info */
[aria-live='off'][role='alert'] {
  background: rgb(0 0 255 / 0.15);
  color: #00f;
}

/* Alert success */
[aria-live='polite'][role='alert'] {
  background: rgb(0 136 0 / 0.15);
  color: #080;
}

[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

[role='application'] {
  background: #fff;
  border: 1px solid #000;
  display: block;
  margin: 0 auto;
  max-width: 65rem;
  padding: 1rem;
  text-align: left;
}

[role='application']:empty {
  display: none;
}

[role='application'] > footer:empty,
[role='application'] > header:empty {
  display: none;
}

[role='application'] > header + div {
  display: flex;
  gap: 1rem;
}

[role='application'] > header + div > aside {
  margin-top: 0;
  max-width: 12rem;
  min-width: 12rem;
}

[role='application'] > header + div > main {
  flex: 1;
  margin-top: 0;
  min-width: 0;
}

[role='application']:has(> form > p > [name='pass']) {
  display: inline-block;
}

[role='group'] {
  display: flex;
  gap: 0.5em;
}

[role='status'] {
  color: #888;
}


/* Overrides */
code.cm-s {
  background: #fafafa;
}

form .CodeMirror * + div {
  margin-top: 0;
}

form .CodeMirror {
  background: #ffc;
  border: 1px solid #000;
  box-sizing: content-box;
  font-family: 'Courier New', monospace;
  font-size: 0.8em;
  height: auto;
  line-height: 1.1;
}

/* Simulate current form `<textarea>`’s outline style */
form .CodeMirror:focus-within::after {
  border: 1px solid #000;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}

form .CodeMirror-code {
  cursor: text;
}

form .CodeMirror-focused .CodeMirror-selected {
  background: rgb(0 0 0 / 0.25);
}

form .CodeMirror-gutters {
  background: #dda;
  border-right-color: #000;
}

form .CodeMirror-linenumber {
  color: inherit;
}

form .CodeMirror-scroll {
  max-height: 50em;
  min-height: 1em;
}

form .CodeMirror-scrollbar-filler {
  background: #000;
}

form .CodeMirror-selected {
  background: rgb(0 0 0 / 0.15);
}

form .CodeMirror-simplescroll-horizontal {
  height: 0.25rem;
}

form .CodeMirror-simplescroll-vertical {
  width: 0.25rem;
}

form .CodeMirror-simplescroll-horizontal,
form .CodeMirror-simplescroll-vertical {
  background: #dda;
  cursor: default;
}

form .CodeMirror-simplescroll-horizontal div,
form .CodeMirror-simplescroll-vertical div {
  background: #bb9;
  border-radius: 0;
  border: 0;
  cursor: pointer;
}